@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  height: 100%;
  width: 100%;
}

h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: .8em;

}


h2 {
  font-size: 3rem;  
}

h3 {
  font-size: 2.5rem;  
}

h4 {
  font-size: 2rem;  
}

body {
  font-family: "Open Sans", arial, sans-serif;
  color: #333333;
  line-height: 1.6;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#main-view { 
  margin: 50px 0 50px;
  padding: 5px 0 0;
  position: relative;
}

#inner-content {
  padding: 0 10px;
}

ul.terms {
  padding-left: 25px;
}

ul.terms, ul.terms > li {
  list-style-type: upper-roman;
}

div.nav-wrapper > ul > li > a {
  display: inline-block;
}

.parallax-container {
  background-color: #0006;
}

.parallax-container h1, .parallax-container h5 {
  color: #FFFFFF;
}

div.nav-wrapper > a#logo-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

div#main-view > div#inner-content {
  max-width: 800px;
  margin: 0 auto;
}

div.nav-wrapper > a#logo-container > img {
  width: 100%;
}

#content {
  width: 100%;
}

p {
  margin: 5px auto 10px;
}

/* */
img, p {
  display: block;
}


/* basic form stuff */
form {
  margin: 15px auto 25px;
}

input, form {
  max-width: 500px;
  display: block;
  float: none;
}

input[type=text], input[type=email], input[type=password],
input[type=tel]{
  width: 100%;
  margin-bottom: 15px;
  text-indent: .5em;
  padding: .3em 0;
}

input[type=submit] {
  margin: 10px auto 20px;
  display: block;
}

form.col.s12 {
  float: none;
}

form.lefty {
  max-width: none;
}

form.lefty input[type=submit] {
  margin: 10px auto 20px;
  display: inline-block;
}

textarea {
  resize: none;
  display: block;
  min-height: 200px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-indent: .5em;
  padding: 5px;
  border: solid 1px #BBBBBB;
}

input[type=checkbox], input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

div.pac-container.pac-logo {
  background-color: #FFFFFF;
}

/* general entity css */

div.button:hover {
  opacity: .8; 
  cursor: pointer;
}

.autocomplete-suggestion {
  background-color: #FFFFFF;
  border-bottom: 1px solid #BBBBBB;
  padding: 10px;
}

.autocomplete-suggestion:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}

div.aggregate {
  margin-bottom: 25px;
}

div.record {
  display: inline-block;
  margin-right: 25px;
}

div.entity-actions {
  margin: 20px auto;
}

div.entity-actions > a {
  margin-right: 25px;
  padding: 5px;
  border-bottom: none;
}

p.form-prompt {
  color: #888888;
  font-size: 14px;
}

/* RSO pages */
div.record.event {
  display: block;
  border-bottom: solid 1px #BBBBBB;
  padding-bottom: 15px;
  position: relative;
}

div.record.event > span.time {
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
  font-size: 14px;
}

div.record.member {
  position: relative;
  vertical-align: top;
  margin-top: 10px;
}

div.record.member.marked-administrator,
div.record.member.marked-administrator > a {
  color: #33AA66;
}


div.rso-view.aggregate.members > div.record.member.marked-administrator:before {
  content: "\2666";
  display: inline-block;
  padding: 0 5px 0 0;
  color: #CC8833;
}

div.record.member > .remove {
  position: absolute;
  top: -20px;
  right: 0;
}

div.record.member > .make-admin {
  position: absolute;
  top: -20px;
  right: 20px;
}

div.rso-view.aggregate.members > div.member > .button.destroy {
  position: absolute;
  top: 0px;
  right: -15px;
}

/* Event Page */

/* attendees */
div.record.participant {
  position: relative;
  display: inline-block;
  
}

div.participant > div.button.unattend{
  position: absolute;
  bottom: 0px;
  right: -15px;
  font-size: 14px;
}

/* ratings */
div#rating {
  white-space: nowrap;
}

div.star {
  display: inline-block;
  color: #FF6622;
  margin-right: 5px;
}

div.star.rated ~ div.star {
  color: #775555;
}

div.star:hover ~ div.star {
  color: #775555 !important;;
}

div.star:hover {
  cursor: pointer;
  color: #aaCC22 !important;
}

div.star.rate-0 {
  color: #555555;
}

div.star.disabled {
  color: #555555 !important;
}

div.star.disabled:hover {
  color: #555555 !important;
  cursor: inherit;
}

/* comments */
div.record.event.comment {
  display: block;
  position: relative;
  margin-bottom: 40px;
}

div.record.event.comment > .button {
  color: #888888;
}

div.record.category {
  position: relative;
  margin-right: 30px;
}

div.record.category > .button.destroy {
  position: absolute;
  top: -5px;
  right: -15px;
}

div.record.event.comment > .button.destroy {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
}

div.record.event.comment > .button.update {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 70px;
}

form#event-search {
  max-width: none;
  border: 1px solid #CCCCCC;
  padding: 15px;
}

form#event-search > div.scope {
  display: inline-block;
}

form#event-search > div {
  margin-bottom: 10px;
}

div.events-view-all.aggregate.events {
  min-height: 200px;
}

div.events-view-all.aggregate.events > div.record {
  position: relative;
  -webkit-transition: 1s top;
  -moz-transition: 1s top;
  transition: 1s top;
  top: -100px;
  margin-top:35px;
}

div.events-view-all.aggregate.events > div.record.loaded {
  top: 0;
}


div.events-view-all.aggregate.events  span.info {
  color: #888888;
  padding: 5px 20px 0 0;
  font-size: 14px;
}

div.events-view-all.aggregate.events  span.info.status {
  color: #333333;
  font-weight: 600;
  position: absolute;
  bottom: 100%;
  right: 0;
}

div.events-view-all.aggregate.events  span.info.uni {
  font-weight: 600;
  display: inline-block;
  
>>>>>>> development
}

div#map {
  height: 400px;
  width: 100%;
}

div.message {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}

div.message.error {
  color: #FF0022;
}

div.message.info {
  color: #33cc44;
}

div.sup-modal {
  position: fixed;
  width: 300px;
  top: 30%;
  left: 50%;
  margin-left: -150px;
  color: #333388;
  background-color: #DDEEFF;
  border-radius: 2px;
  padding: 15px;
  -webkit-transition: 1s top;
  -moz-transition: 1s top;
  transition: 1s top;
}

