@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  height: 100%;
  width: 100%;
}

h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: .8em;

}


h2 {
  font-size: 3rem;  
}

h3 {
  font-size: 2.5rem;  
}

h4 {
  font-size: 2rem;  
}

body {
  font-family: "Open Sans", arial, sans-serif;
  color: #333333;
  line-height: 1.6;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#main-view { 
  margin: 50px 0 0px;
  padding: 5px 0 0;
  position: relative;
}

#inner-content {
  padding: 0 10px;
}

ul.terms {
  padding-left: 25px;
}

ul.terms, ul.terms > li {
  list-style-type: upper-roman;
}

div.nav-wrapper > ul > li > a {
  display: inline-block;
}

.parallax-container {
  background-color: #0006;
}

.parallax-container h1, .parallax-container h5 {
  color: #FFFFFF;
}

div.nav-wrapper > a#logo-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

div#main-view > div#inner-content {
  max-width: 800px;
  margin: 0 auto 50px;
}

div.nav-wrapper > a#logo-container > img {
  width: 100%;
}



#content {
  width: 100%;
}

p {
  margin: 5px auto 10px;
}

/* */
img, p {
  display: block;
}


/* basic form stuff */
form {
  margin: 15px auto 25px;
}

input, form {
  max-width: 500px;
  display: block;
  float: none;
}

input[type=text], input[type=email], input[type=password],
input[type=tel]{
  width: 100%;
  margin-bottom: 15px;
  text-indent: .5em;
  padding: .3em 0;
}

input[type=submit] {
  margin: 10px auto 20px;
  display: block;
}

form.col.s12 {
  float: none;
}

form.lefty {
  max-width: none;
}

form.lefty input[type=submit] {
  margin: 10px auto 20px;
  display: inline-block;
}

textarea {
  resize: none;
  display: block;
  min-height: 200px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-indent: .5em;
  padding: 5px;
  border: solid 1px #BBBBBB;
}

input[type=checkbox], input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

div.pac-container.pac-logo {
  background-color: #FFFFFF;
}

/* general entity css */
a.entity.thumbnail {
  display: inline-block;
  overflow: hidden;
}

a.entity.thumbnail > div.record {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
}

div.entity {
  display: inline-block;
  margin: 5px 0 10px;
  border: solid 1px #BBBBBB;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}

div.entity a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

div.entity img {
  height: 100%;
  width: auto;
  margin: 0 -100%;
  display: inline-block;
  vertical-align: middle;  
}

div.entity.thumbnail {
  width: 100px;
  height: 100px;
}

div.entity.medium {
  width: 200px;
  height: 200px;
}

div.entity.large {
  width: 400px;
  height: 400px;
}

div.button:hover {
  opacity: .8; 
  cursor: pointer;
}

.autocomplete-suggestion {
  background-color: #FFFFFF;
  border-bottom: 1px solid #BBBBBB;
  padding: 10px;
}

.autocomplete-suggestion:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}

div.aggregate {
  margin-bottom: 25px;
}

div.aggregate.loading {
  background-image: url("http://localhost/cop4710_project/res/icons/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
}

div.record {
  display: inline-block;
  margin-right: 25px;
}

div.entity-actions {
  margin: 20px auto;
}

div.entity-actions > a {
  margin-right: 25px;
  padding: 5px;
  border-bottom: none;
}

p.form-prompt {
  color: #888888;
  font-size: 14px;
}

div.widget.picture {
  margin: 10px 0px;
  background-color: RGBA(30, 30, 30, .5);
  position: relative;
  border: 1px solid #BBBBBB;
  overflow: hidden;
  text-align: center;
}

div.widget.picture > img {
  margin: 0 -100%;
  width: auto;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

div.widget.picture > div.button.destroy {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

div.widget.picture > form {
  display: block;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  background-color: RGBA(30, 30, 30, .2);
}

div.widget.picture > form > label[for="pic"],
div.widget.picture > div.button.destroy {
  color: #CCCCCC;
  font-size: .8em;
  text-shadow: 1px 1px 0 #333333;
}

div.widget.picture > form > label[for="pic"] {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

div.widget.picture > form > label[for="pic"]:hover,
div.widget.picture > div.button.destroy:hover {
  color: #FFFFFF;
  cursor: pointer;
}

div.widget.picture > form > input[type="file"]{
  display: none;
}

div.widget.picture.thumbnail {
  width: 100px;
  height: 100px;
}

div.widget.picture.medium {
  width: 200px;
  height: 200px;
}

div.widget.picture.large {
  width: 400px;
  height: 400px;
}

div.user-view.aggregate.events div.record.event {
  margin: 0;
  border-bottom: 0;
  padding: 0;
  position: static;
}

/* RSO pages */
div.record.event {
  display: block;
  border-bottom: solid 1px #BBBBBB;
  margin-top: 50px;
  padding-bottom: 15px;
  position: relative;
}

div.record.event > span.time {
  position: absolute;
  top: -25px;
  left: 0;
  color: #666666;
  font-size: 14px;
}

div.record.member {
  position: relative;
  vertical-align: top;
  margin-top: 30px;
}

div.record.member div.entity {
  margin: 15px 0 10px;
  display: block;
}

div.record.member.marked-administrator,
div.record.member.marked-administrator > a {
  color: #33AA66;

}


div.rso-view.aggregate.members > div.record.member.marked-administrator:before {
  content: "\2666";
  padding: 0 5px 0 0;
  color: #CC8833;
  position: absolute;
  top: -20px;
}

div.record.member > .remove {
  position: absolute;
  top: -20px;
  right: 0;
}
 {
  color: green;
}

div.record.member > .make-admin {
  position: absolute;
  top: -20px;
  right: 20px;
}

div.rso-view.aggregate.members > div.member > .button.destroy {
  position: absolute;
  top: -20px;
  left: 20px;
}

div.view-all-rsos.aggregate.rso > div.record,
div.view-all-users.aggregate.users > div.record{
  display: block;
  padding: 5px 0 15px;
  border-bottom: 1px solid #BBBBBB;
  position: relative;
  min-height: 220px;
  top: -50px;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  transition: top 1s;
}

div.view-all-rsos.aggregate.rso > div.record {
  padding-right: 220px;
}

div.aggregate div.entity.thumbnail {
  margin-right: 15px;
}

div.aggregate > div.record div.entity.medium {
  margin: 0;
}

div.view-all-rsos.aggregate.rso,
div.view-all-users.aggregate.users {
  min-height: 300px;
}

div.view-all-rsos.aggregate.rso > div.record.loaded,
div.view-all-users.aggregate.users > div.record.loaded{
  top: 0px;
}

div.view-all-rsos.aggregate.rso > div.record > span.info {
  color: #888888;
}

div.view-all-rsos.aggregate.rso > div.record > div.entity.rsos,
div.view-all-rsos.aggregate.rso > div.record > div.entity.rsos {
  position: absolute;
  right: 0;
  top: 0;
}

div.paginate {
  text-align: center;
  white-space: nowrap;
}

div.button.next, div.button.prev {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  
}

div.button.prev:before, div.button.next:after {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  height: 1em;
  
}

div.button.prev:before {
  content: "<< Previous";
}

div.button.next:after {
  content: "Next >>";
}

/* Event Page */
div.view-event.widget.picture.medium,
img.view-event.entity.events.medium {
  float: left;
  margin-bottom: 15px;
}

div.view-event.pane.rso {
  max-width: 300px;
  float: right;
  margin-bottom: 15px;
}

div.view-event.pane.rso > div.info {
  text-align: right;
}

div.view-event.pane.rso > a {
  float: right;
  margin-left: 20px
}

p.notice.PND {
  color: #FF0022;
}

p.notice.ACT {
  color:
}

span.event.time {
  margin-right: 20px;
}



/* attendees */
div.record.participant {
  position: relative;
  display: inline-block;
  
}

div.participant > div.button.unattend{
  position: absolute;
  bottom: 0px;
  right: -15px;
  font-size: 14px;
}

/* ratings */
div#rating {
  white-space: nowrap;
}

div.star {
  display: inline-block;
  color: #FF6622;
  margin-right: 5px;
}

div.star.rated ~ div.star {
  color: #775555;
}

div.star:hover ~ div.star {
  color: #775555 !important;;
}

div.star:hover {
  cursor: pointer;
  color: #aaCC22 !important;
}

div.star.rate-0 {
  color: #555555;
}

div.star.disabled {
  color: #555555 !important;
}

div.star.disabled:hover {
  color: #555555 !important;
  cursor: inherit;
}

/* comments */
div.record.event.comment {
  display: block;
  position: relative;
  margin-bottom: 40px;
}

div.record.event.comment > .button {
  color: #888888;
}

div.record.comment div.entity.users {
  float: right;
}

div.record.category {
  position: relative;
  margin-right: 30px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #26A69A;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: .5px;
}

div.record.category > .button.destroy {
  position: absolute;
  top: -5px;
  right: -15px;
  color: #333333;
}

div.record.event.comment > .button.destroy {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
}

div.record.event.comment > .button.update {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 70px;
}

form#event-search {
  max-width: none;
  border: 1px solid #CCCCCC;
  padding: 15px;
}

form#event-search > div.scope {
  display: inline-block;
}

form#event-search > div {
  margin-bottom: 10px;
}

div.events-view-all.aggregate.events {
  min-height: 200px;
  
}

div.events-view-all.aggregate.events > div.record {
  position: relative;
  -webkit-transition: 1s top;
  -moz-transition: 1s top;
  transition: 1s top;
  top: -100px;
  margin-top:50px;
  min-height: 205px;
  padding-right: 200px;
}

div.events-view-all.aggregate.events > div.record.loaded {
  top: 0;
}

div.events-view-all.aggregate.events > div.record div.entity.events {
  position: absolute;
  right: 0;
  top: 0;
}

div.events-view-all.aggregate.events  span.info {
  color: #888888;
  padding: 5px 20px 0 0;
  font-size: 14px;
}

div.events-view-all.aggregate.events  span.info.status {
  color: #333333;
  font-weight: 600;
  position: absolute;
  top: -30px;
  right: 0;
}

div.events-view-all.aggregate.events  span.info.uni {
  font-weight: 600;
  display: inline-block;

}

div#map {
  height: 400px;
  width: 100%;
}

div.message {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}

div.message.error, div.status.inactive, p.notice.pnd {
  color: #FF0022;
}

div.message.info, div.status.active, p.notice.act {
  color: #33cc44;
}

div.sup-modal {
  position: fixed;
  width: 300px;
  top: 30%;
  left: 50%;
  margin-left: -150px;
  color: #333388;
  background-color: #DDEEFF;
  border-radius: 2px;
  padding: 15px;
  -webkit-transition: 1s top;
  -moz-transition: 1s top;
  transition: 1s top;
}

div.record.university {
  margin-top: 10px;
  width: 150px;
}

div.record.university div.entity {
  display: block;
  margin: 15px 0 0;
}

@media only screen and (max-width: 768px) {
  div.view-all-rsos.aggregate.rso > div.record,
  div.events-view-all.aggregate.events-view-all > div.record {
    padding-right: 0;
  }
  
  div.events-view-all.aggregate.events  span.info {
    white-space: nowrap;
    display: block;
  }
  
  div.events-view-all.aggregate.events > div.record > div.entity.events,
  div.view-all-rsos.aggregate.rso > div.record > div.entity.rsos,
  div.view-all-rsos.aggregate.rso > div.record > div.entity.rsos {
    position: static;
  }
  
  div.entity.medium, div.entity.large {
    margin: 0 auto;
  }
  
}

div.doug {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -200px;
  left: -200px;
  background-image:url("http://localhost/cop4710_project/res/icons/doug.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}

div.meme {
  width: 200px;
  height: 200px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

div.meme.doge {
  background-image:
    url("http://localhost/cop4710_project/res/icons/doge.png"),
    url("http://localhost/cop4710_project/res/icons/sparkles.gif");

}

div.meme.chzbrgr {
  background-image:
    url("http://localhost/cop4710_project/res/icons/chzbrgr.png"),
    url("http://localhost/cop4710_project/res/icons/sparkles.gif");

}

div.meme.grmpy {
  background-image:
    url("http://localhost/cop4710_project/res/icons/grmpy.png"),
    url("http://localhost/cop4710_project/res/icons/sparkles.gif");

}
