@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  height: 100%;
  width: 100%;
}

h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: .8em;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  color: #333333;
  line-height: 1.6;
  position: relative;
  width: 100%;
  min-height: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 50px;
  border-bottom: 1px solid #BBBBBB;
  background-color: #FFFFFF;
  z-index: 2;
}

#header > a > img.logo {
  margin-top: 8px;
  margin-left: 10px;
  float: left;
  height: 36px;
  width: 36px;
}

#main-view { 
  margin: 160px 0 50px;
  padding: 5px 0 25px;
  position: relative;
}

div.nav-wrapper > ul > li > a {
  display: inline-block;
}

.parallax-container {
  background-color: #0006;
}

.parallax-container h1, .parallax-container h5 {
  color: #FFFFFF;
}

#content {
  width: 100%;
}

p {
  margin: 5px auto 10px;
}

/* */
img, p {
  display: block;
}


/* basic form stuff */
form {
  margin: 15px auto 25px;
}

input, form {
  max-width: 500px;
  display: block;
}

input[type=text], input[type=email], input[type=password],
input[type=tel]{
  width: 100%;
  margin-bottom: 15px;
  text-indent: .5em;
  padding: .3em 0;
}

input[type=submit] {
  margin: 10px auto 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #FF6644;
  color: #FFFFFF;
  padding: 5px 8px;
  font-size: 14px;
}

form.lefty {
  max-width: none;
}

form.lefty input[type=submit]{
  margin-left: 0px;
  margin-right: 10px;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #AA9944;
}

textarea {
  resize: none;
  display: block;
  min-height: 200px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-indent: .5em;
  border: solid 1px #BBBBBB;
}

input[type=checkbox], input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

/* general entity css */

div.button:hover {
  opacity: .8; 
  cursor: pointer;
}



div.aggregate {
  margin-bottom: 10px;
}

div.record {
  display: inline-block;
  margin-right: 25px;
}

div.entity-actions {
  margin: 20px auto;
  position: absolute;
  bottom: 100%;
  left: 0;
}

div.entity-actions > a {
  margin-right: 25px;
  padding: 5px;
  border: 1px solid #BBB;
  border-bottom: none;
  border-top-right-radius: 15px;
}

p.form-prompt {
  color: #888888;
  font-size: 14px;
}

/* RSO pages */
div.record.event {
  display: block;
  border-bottom: solid 1px #BBBBBB;
  padding-bottom: 15px;
  position: relative;
}

div.record.event > span.time {
  position: absolute;
  top: 0;
  right: 0;
  color: #666666;
  font-size: 14px;
}

div.record.member {
  position: relative;
  vertical-align: top;
  margin-top: 10px;
}

div.record.member.marked-administrator,
div.record.member.marked-administrator > a {
  color: #33AA66;
}


div.rso-view.aggregate.members > div.record.member.marked-administrator:before {
  content: "\2666";
  display: inline-block;
  padding: 0 5px 0 0;
  color: #CC8833;
}

div.record.member > .remove {
  position: absolute;
  top: -20px;
  right: 0;
}

div.record.member > .make-admin {
  position: absolute;
  top: -20px;
  right: 20px;
}

/* Event Page */

/* attendees */
div.record.participant {
  position: relative;
  display: inline-block;
  
}

div.participant > div.button.unattend{
  position: absolute;
  bottom: 0px;
  right: -15px;
  font-size: 14px;
}

/* ratings */
div#rating {
  white-space: nowrap;
}

div.star {
  display: inline-block;
  color: #FF6622;
  margin-right: 5px;
}

div.star.rated ~ div.star {
  color: #775555;
}

div.star:hover ~ div.star {
  color: #775555 !important;;
}

div.star:hover {
  cursor: pointer;
  color: #aaCC22 !important;
}

div.star.rate-0 {
  color: #555555;
}

/* comments */
div.record.event.comment {
  display: block;
  position: relative;
  margin-bottom: 40px;
}

div.record.event.comment > .button {
  color: #888888;
}

div.record.event.comment > .button.destroy {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
}

div.record.event.comment > .button.update {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 70px;
}

div#map {
  height: 400px;
  width: 100%;
}

div.message {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}

div.message.error {
  color: #FF0022;
}

div.message.info {
  color: #33cc44;
}
